html{
  overflow: hidden;
  background-color: rgb(239, 238, 238);
  font-family: 'roboto';
  font-weight: 500;
}

nav {    
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #313848; 
    color:#fff; 
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:6px;
  }

  .nav li{position: relative;}
  .nav > li { 
    float:left; 
    border-bottom: 4px #a7daff solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom:1px;
  }
  .nav > li:hover , .nav > li:hover >a{  border-bottom-color:rgb(87, 124, 255);}
  .nav li:hover > a { color:#4ea1ff; }
  .nav > li:first-child  { border-radius: 4px 0 0 4px;} 
  .nav > li:first-child>a{border-radius: 4px 0 0 0;}
  .nav > li:last-child  { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child >a{border-radius: 0 4px 0 0; }
  .nav li li a { margin-top:1px}
  
  
  
  .nav li a:first-child:nth-last-child(2):before { 
    content:""; 
    position: absolute; 
    height:0; 
    width: 0; 
    border: 5px solid transparent; 
    top: 50% ;
    right:5px;  
  }
  
  
  
  
  
  /* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  #a7d8e8;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid #fff;}


.nav > li li:hover > ul { 
 /* margin-left: 1px */
  left: 100%;
  top: -1px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: #a7d8e8; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: #a7d8e8;
  right: 10px; 
}

.container{
  margin-top: 10px;
  border-radius: 20px;
  border: solid #313848 5px;
  width: calc(100vw - 25px);
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-y: scroll;
}

h1{
  margin-top: 10px;
  color: #121826;
}

.barraBusqueda{
  width: 80%;
  height: 1.7rem;
  border: solid #313848 2px ;
  border-radius: 10px;
  padding-left: 10px;
}

.boton{
  height: 2rem;
  font-weight: 600;
  border-radius: 10px;
  background-color: #313848;
  color: white
}